<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>back</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ 101.000,480.500 }</string>
	
								<string>{ 95.000,477.500 }</string>
	
								<string>{ 75.500,462.000 }</string>
	
								<string>{ 91.000,469.500 }</string>
	
								<string>{ 106.000,479.500 }</string>

							</array>

							<array>
	
								<string>{ 91.000,469.500 }</string>
	
								<string>{ 75.500,462.000 }</string>
	
								<string>{ 53.500,440.000 }</string>
	
								<string>{ 68.000,449.500 }</string>

							</array>

							<array>
	
								<string>{ 68.000,449.500 }</string>
	
								<string>{ 53.500,440.000 }</string>
	
								<string>{ 38.500,421.000 }</string>
	
								<string>{ 43.500,421.000 }</string>

							</array>

							<array>
	
								<string>{ 43.500,421.000 }</string>
	
								<string>{ 38.500,421.000 }</string>
	
								<string>{ 17.500,385.000 }</string>
	
								<string>{ 23.500,388.000 }</string>

							</array>

							<array>
	
								<string>{ 23.500,388.000 }</string>
	
								<string>{ 17.500,385.000 }</string>
	
								<string>{ 4.500,350.000 }</string>
	
								<string>{ 12.500,362.000 }</string>

							</array>

							<array>
	
								<string>{ 12.500,362.000 }</string>
	
								<string>{ 4.500,350.000 }</string>
	
								<string>{ -0.500,329.000 }</string>
	
								<string>{ 6.500,342.000 }</string>

							</array>

							<array>
	
								<string>{ 6.500,342.000 }</string>
	
								<string>{ -0.500,329.000 }</string>
	
								<string>{ 0.500,307.000 }</string>

							</array>

							<array>
	
								<string>{ 76.000,109.500 }</string>
	
								<string>{ 107.000,86.500 }</string>
	
								<string>{ 95.000,99.500 }</string>
	
								<string>{ 47.500,139.000 }</string>

							</array>

							<array>
	
								<string>{ 138.000,70.500 }</string>
	
								<string>{ 166.000,60.500 }</string>
	
								<string>{ 115.000,86.500 }</string>
	
								<string>{ 107.000,86.500 }</string>

							</array>

							<array>
	
								<string>{ 10.500,204.000 }</string>
	
								<string>{ 22.500,177.000 }</string>
	
								<string>{ 15.500,202.000 }</string>
	
								<string>{ 8.500,223.000 }</string>
	
								<string>{ -0.500,243.000 }</string>

							</array>

							<array>
	
								<string>{ 187.000,55.500 }</string>
	
								<string>{ 209.000,52.500 }</string>
	
								<string>{ 209.000,56.500 }</string>
	
								<string>{ 174.000,62.500 }</string>
	
								<string>{ 166.000,60.500 }</string>

							</array>

							<array>
	
								<string>{ 30.500,163.000 }</string>
	
								<string>{ 47.500,139.000 }</string>
	
								<string>{ 43.500,151.000 }</string>
	
								<string>{ 25.500,180.000 }</string>
	
								<string>{ 22.500,177.000 }</string>

							</array>

							<array>
	
								<string>{ 319.500,53.000 }</string>
	
								<string>{ 319.000,55.500 }</string>
	
								<string>{ 209.000,56.500 }</string>
	
								<string>{ 209.000,52.500 }</string>

							</array>

							<array>
	
								<string>{ 174.000,62.500 }</string>
	
								<string>{ 139.000,74.500 }</string>
	
								<string>{ 166.000,60.500 }</string>

							</array>

							<array>
	
								<string>{ 115.000,86.500 }</string>
	
								<string>{ 95.000,99.500 }</string>
	
								<string>{ 107.000,86.500 }</string>

							</array>

							<array>
	
								<string>{ 67.500,123.000 }</string>
	
								<string>{ 43.500,151.000 }</string>
	
								<string>{ 47.500,139.000 }</string>

							</array>

							<array>
	
								<string>{ 25.500,180.000 }</string>
	
								<string>{ 15.500,202.000 }</string>
	
								<string>{ 22.500,177.000 }</string>

							</array>

							<array>
	
								<string>{ 8.500,223.000 }</string>
	
								<string>{ 0.500,265.000 }</string>
	
								<string>{ -0.500,243.000 }</string>

							</array>

							<array>
	
								<string>{ 0.500,307.000 }</string>
	
								<string>{ -0.500,329.000 }</string>
	
								<string>{ -0.500,243.000 }</string>
	
								<string>{ 0.500,265.000 }</string>

							</array>

						</array>
					</dict>

					<dict>
						<key>density</key>
						<real>2</real>
						<key>friction</key>
						<real>0</real>
                        <key>restitution</key>
                        <real>0</real>
						<key>filter_categoryBits</key>
						<integer>1</integer>
						<key>filter_groupIndex</key>
						<integer>0</integer>
						<key>filter_maskBits</key>
						<integer>65535</integer>
						<key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>isSensor</key>

						<false/>

						<key>polygons</key>
						<array>

							<array>
	
								<string>{ 319.000,92.500 }</string>
	
								<string>{ 317.000,92.500 }</string>
	
								<string>{ 309.000,88.500 }</string>
	
								<string>{ 294.000,79.500 }</string>
	
								<string>{ 319.500,89.000 }</string>

							</array>

							<array>
	
								<string>{ 69.500,421.000 }</string>
	
								<string>{ 67.500,425.000 }</string>
	
								<string>{ 53.500,407.000 }</string>
	
								<string>{ 62.500,413.000 }</string>

							</array>

							<array>
	
								<string>{ 62.500,413.000 }</string>
	
								<string>{ 53.500,407.000 }</string>
	
								<string>{ 39.500,382.000 }</string>
	
								<string>{ 51.500,396.000 }</string>

							</array>

							<array>
	
								<string>{ 51.500,396.000 }</string>
	
								<string>{ 39.500,382.000 }</string>
	
								<string>{ 26.500,347.000 }</string>
	
								<string>{ 35.500,362.000 }</string>

							</array>

							<array>
	
								<string>{ 309.000,88.500 }</string>
	
								<string>{ 286.000,81.500 }</string>
	
								<string>{ 265.000,73.500 }</string>
	
								<string>{ 294.000,79.500 }</string>

							</array>

							<array>
	
								<string>{ 286.000,81.500 }</string>
	
								<string>{ 256.000,76.500 }</string>
	
								<string>{ 265.000,73.500 }</string>

							</array>

							<array>
	
								<string>{ 35.500,362.000 }</string>
	
								<string>{ 26.500,347.000 }</string>
	
								<string>{ 22.500,325.000 }</string>
	
								<string>{ 28.500,339.000 }</string>

							</array>

							<array>
	
								<string>{ 28.500,339.000 }</string>
	
								<string>{ 22.500,325.000 }</string>
	
								<string>{ 19.500,309.000 }</string>
	
								<string>{ 23.500,309.000 }</string>

							</array>

							<array>
	
								<string>{ 23.500,309.000 }</string>
	
								<string>{ 19.500,309.000 }</string>
	
								<string>{ 19.500,269.000 }</string>
	
								<string>{ 23.500,243.000 }</string>

							</array>

							<array>
	
								<string>{ 23.500,269.000 }</string>
	
								<string>{ 23.500,243.000 }</string>
	
								<string>{ 28.500,239.000 }</string>

							</array>

							<array>
	
								<string>{ 23.500,243.000 }</string>
	
								<string>{ 33.500,210.000 }</string>
	
								<string>{ 35.500,216.000 }</string>
	
								<string>{ 28.500,239.000 }</string>

							</array>

							<array>
	
								<string>{ 35.500,216.000 }</string>
	
								<string>{ 33.500,210.000 }</string>
	
								<string>{ 43.500,188.000 }</string>
	
								<string>{ 44.500,195.000 }</string>

							</array>

							<array>
	
								<string>{ 44.500,195.000 }</string>
	
								<string>{ 43.500,188.000 }</string>
	
								<string>{ 57.500,165.000 }</string>
	
								<string>{ 73.000,145.500 }</string>
	
								<string>{ 62.500,165.000 }</string>

							</array>

							<array>
	
								<string>{ 62.500,165.000 }</string>
	
								<string>{ 73.000,145.500 }</string>
	
								<string>{ 74.500,150.000 }</string>

							</array>

							<array>
	
								<string>{ 74.500,150.000 }</string>
	
								<string>{ 73.000,145.500 }</string>
	
								<string>{ 100.000,119.500 }</string>
	
								<string>{ 96.500,128.000 }</string>

							</array>

							<array>
	
								<string>{ 96.500,128.000 }</string>
	
								<string>{ 100.000,119.500 }</string>
	
								<string>{ 118.000,106.500 }</string>
	
								<string>{ 112.000,115.500 }</string>

							</array>

							<array>
	
								<string>{ 112.000,115.500 }</string>
	
								<string>{ 118.000,106.500 }</string>
	
								<string>{ 143.000,92.500 }</string>
	
								<string>{ 142.000,97.500 }</string>

							</array>

							<array>
	
								<string>{ 142.000,97.500 }</string>
	
								<string>{ 143.000,92.500 }</string>
	
								<string>{ 178.000,79.500 }</string>
	
								<string>{ 175.000,84.500 }</string>

							</array>

							<array>
	
								<string>{ 178.000,79.500 }</string>
	
								<string>{ 207.000,73.500 }</string>
	
								<string>{ 216.000,76.500 }</string>
	
								<string>{ 175.000,84.500 }</string>

							</array>

							<array>
	
								<string>{ 216.000,76.500 }</string>
	
								<string>{ 207.000,73.500 }</string>
	
								<string>{ 265.000,73.500 }</string>
	
								<string>{ 256.000,76.500 }</string>

							</array>

						</array>
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>

